<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container pb-5" style="color: #fff;">
    <div class="row">
        <div class="offset-md-1 col-md-10 text-center">
            <h1 class="text-center"><%= title %></h1>
            <div class="card mt-5" style="background-color: #000; color: #fff;">
                <div class="card-header bg-dark text-white">
                    <h3 class="text-center">Add New Word</h3>
                </div>
                <div class="card-body mb-5">
                    <form method="POST" action="/dictionary/addWord">
                        <div class="mb-4 position-relative">
                            <label for="word" class="form-label">Word</label>
                            <input type="text" class="form-control" id="word" placeholder="Enter the word" name="word" required style="background-color: #333; color: #fff;">
                        </div>
                        <div class="mb-4 position-relative">
                            <label for="meaning" class="form-label">Meaning</label>
                            <textarea class="form-control" id="meaning" placeholder="Enter the meaning" name="meaning" required style="background-color: #333; color: #fff;"></textarea>
                        </div>
                        <div class="mb-4 position-relative">
                            <label for="examples" class="form-label">Examples</label>
                            <textarea class="form-control" id="examples" placeholder="Enter examples" name="examples" required style="background-color: #333; color: #fff;"></textarea>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-plus"></i> Add Word
                            </button>
                            <a href="/dictionary/wordList" class="btn btn-warning">
                                <i class="fas fa-undo"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
