<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container" style="background-color: black; color: white;">
    <div class="row justify-content-center mb-5">
        <div class="col-lg-8 mt-5">
            <div class="card shadow-lg p-4" style="background-color: #0f4c75;">
                <h1 class="card-title text-center mb-4">Edit Word</h1>
                <form method="POST" action="/dictionary/editWord/<%= word._id %>">
                    <div class="mb-3">
                        <label for="wordTextField" class="form-label" style="color: black; font-family: 'Cinzel Decorative', sans-serif;">Word</label>
                        <input type="text" class="form-control" id="wordTextField"
                            placeholder="Enter the Word" maxlength="50" name="word"
                            value="<%= word.word %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="meaningTextArea" class="form-label" style="color: black; font-family: 'Cinzel Decorative', sans-serif;">Meaning</label>
                        <textarea class="form-control" id="meaningTextArea"
                            placeholder="Enter the Meaning of the Word" name="meaning" required
                            style="height: 150px;"><%= word.meaning %></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="examplesTextArea" class="form-label" style="color: black; font-family: 'Cinzel Decorative', sans-serif;">Examples</label>
                        <textarea class="form-control" id="examplesTextArea"
                            placeholder="Enter Examples for the Word" name="examples"
                            style="height: 150px;"><%= word.examples %></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-light" type="submit" style="background-color: grey; color: white; font-family: 'Cinzel Decorative', sans-serif;">
                            <i class="fas fa-edit"></i> Update
                        </button>
                        <button class="btn btn-light" type="button" style="background-color: grey; color: white; font-family: 'Cinzel Decorative', sans-serif;" onclick="cancelAddWord()">
                            <i class="fas fa-times-circle"></i> Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

<style>
    input, textarea{
        background-color: black !important;
    }
    .form-control::placeholder{
        color: #0f4c75;
    }
    body{
        background-color: black;
    }
    #wordTextField::placeholder,
    #meaningTextArea::placeholder,
    #examplesTextArea::placeholder, label {
        font-family: 'Cinzel Decorative', sans-serif;
        color: #0f4c75;
    }

    .card {
        border-radius: 15px;
    }

    .btn {
        border-radius: 8px;
    }
    #examplesTextArea, #meaningTextArea, #wordTextField{
        color: white;
font-family: 'Cinzel Decorative', sans-serif;
    }
</style>

<script>
    const wordField = document.getElementById('wordTextField');
    wordField.addEventListener('input', function () {
        const charCountWord = document.getElementById('charCountWord');
        const count = this.value.length;
        charCountWord.textContent = `${count}/50`;
    });

    // Update character count on page load if there's a pre-filled value
    const preFilledValueWord = "<%= word.word %>";
    const charCountWord = document.getElementById('charCountWord');
    charCountWord.textContent = `${preFilledValueWord.length}/50`;
</script>
<script>
    function cancelAddWord() {
        // Redirect or perform any cancel action here
        window.location.href = "/dictionary/wordList"; // Redirect to the homepage as an example
    }
</script>
