<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container pb-5" style="color: #fff; background-color: black;">
    <div class="row">
        <div class="offset-md-1 col-md-10 text-center">
            <h1 class="animated-heading" style="margin-top: 30px; color: #0f4c75;"><i class="fa-solid fa-f fa-bounce"></i><i class="fa-solid fa-l"></i><i class="fa-solid fa-a"></i><i class="fa-solid fa-s"></i><i class="fa-solid fa-h"></i><i class="fa-solid fa-c fa-bounce"></i><i class="fa-solid fa-a"></i><i class="fa-solid fa-r"></i><i class="fa-solid fa-d"></i><i class="fa-solid fa-s fa-bounce"></i></h1>
            <div class="mb-4"></div>

            <% if(typeof displayName === 'string' && displayName) { %>
                <div class="text-center mt-4 mb-3">
                    <a href="/dictionary/addWord" class="btn btn-outline-light btn-lg rounded-pill" role="button" style="background-color: #0f4c75; border-color: #0f4c75; transition: all 0.3s ease-in-out;">
                        <i class="fas fa-plus-circle" style="margin-right: 10px; color: #fff;"></i> Add Word
                    </a>
                </div>
            <% } %>

            <!-- Display the count of cards -->
            <p style="color: #fff;">Number of Flashcards: <%= words.length %></p>
            <p style="color: #fff;">Click on the words to view meanings and examples.</p>
            <div class="row">
                <% for(let count=0; count < words.length; count++) { %>
                    <div class="col-md-6">
                        <div class="card mb-4" style="background-color: #0f4c75; color: #fff; position: relative;">
                            <div class="card-header bg-dark text-white" id="cardHeader<%= count %>">
                                <h5 class="card-title" style="font-weight: 700;">
                                    <%= words[count].word %>
                                    <span class="card-number" style="position: absolute; top: 10px; right: 10px; font-size: 14px; font-weight: bold;">
                                        <%= count + 1 %>
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body" id="cardBody<%= count %>" style="display: none;">
                                <!-- Meaning and Examples -->
                                <p class="card-text font-weight-bold" style="color: black; font-size: large;">Meaning:</p>
                                <p class="card-text" style="color: black;"><%= words[count].meaning %></p>
                                <p class="card-text font-weight-bold" style="color: black; font-size: large;">Examples:</p>
                                <p class="card-text" style="color: black;"><%= words[count].examples %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

<style>
    body {
        background-color: black;
    }

    .btn {
        font-family: 'Cinzel Decorative', sans-serif;
    }

    .card-number {
        color: white;
    }
</style>

<script>
    // Function to handle toggling meaning and examples
    function toggleCardDetails(cardId) {
        const cardBody = document.getElementById(`cardBody${cardId}`);
        const isHidden = cardBody.style.display === 'none' || cardBody.style.display === '';

        if (isHidden) {
            cardBody.style.display = 'block';
        } else {
            cardBody.style.display = 'none';
        }
    }

    // Adding event listeners to toggle card details
    <% for(let count=0; count < words.length; count++) { %>
        document.getElementById(`cardHeader<%= count %>`).addEventListener('click', function() {
            toggleCardDetails(<%= count %>);
        });
    <% } %>
</script>
