<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container pb-5" style="color: #fff; background-color: black;">
    <div class="row">
        <div class="offset-md-1 col-md-10 text-center">
            <h1 class="animated-heading" style="margin-top: 30px; color: #0f4c75;">Dictionary Words</h1>
            <div class="mb-4"></div>

            <% if(typeof displayName === 'string' && displayName) { %>
                <div class="text-center mt-4 mb-3">
                    <a href="/dictionary/addWord" class="btn btn-outline-light btn-lg rounded-pill" role="button" style="background-color: #0f4c75; border-color: #0f4c75; transition: all 0.3s ease-in-out;">
                        <i class="fas fa-plus-circle" style="margin-right: 10px; color: #fff;"></i> Add Word
                    </a>
                </div>
            <% } %>

             <!-- Display the count of cards -->
             <p style="color: #fff;">Number of Cards: <%= words.length %></p>
             
            <div class="row">
                <% for(let count=0; count < words.length; count++) { %>
                    <div class="col-md-6">
                        <div class="card mb-4" style="background-color: #0f4c75; color: #fff; position: relative;">
                            <div class="card-header bg-dark text-white">
                                <h5 class="card-title" style="font-weight: 700;">
                                    <%= words[count].word %>
                                    <span class="card-number" style="position: absolute; top: 10px; right: 10px; font-size: 14px; font-weight: bold;">
                                        <%= count + 1 %>
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text font-weight-bold" style="color: black; font-size: large;">Meaning:</p>
                                <p class="card-text" style="color: black;"><%= words[count].meaning %></p>
                                <p class="card-text font-weight-bold" style="color: black; font-size: large;">Examples:</p>
                                <p class="card-text" style="color: black;"><%= words[count].examples %></p>
                                <div class="text-center mt-3">
                                    <% if(typeof displayName === 'string' && displayName) { %>
                                        <a href="/dictionary/editWord/<%= words[count]._id %>" class="btn btn-info btn-sm">
                                            <i class="fas fa-edit"></i> 
                                        </a>
                                        <button class="btn btn-danger btn-sm ml-2" onclick="confirmDeleteWord('<%= words[count]._id %>')">
                                            <i class="fas fa-trash-alt"></i> 
                                        </button>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

<style>
    body {
        background-color: black;
    }

    .btn {
        font-family: 'Fugaz One', cursive;
    }

    .card-number {
        color: white;
    }
</style>

<script>
    function confirmDeleteWord(wordId) {
        if (confirm("Are you sure you want to delete this word?")) {
            // If confirmed, redirect to the delete route with the word's ID
            window.location.href = "/dictionary/deleteWord/" + wordId;
        }
    }
</script>
